<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered table-sm" *ngIf="questions">
      <tr>
        <th width="20px">#</th>
        <th>Qustions</th>
        <th>Vote</th>
        <th>Options</th>
      </tr>
      <tr *ngFor="let q of questions;index as i">
        <td width="20px"><a routerLink="/question/{{q.id}}">{{i+1}}</a></td>
        <td>
          <div>{{q.question}}</div>
        </td>
        <td width="20px"><button class="btn btn-sm btn-info" routerLink="/question/{{q.id}}"> <i
              class="fa fa-arrow-right"></i></button></td>
        <td>
          <ul class="list-group list-group-sm">
            <li class="list-group-item list-group-item-sm" *ngFor="let op of q.options; index as i;">{{i+1}}
              {{op.option}} </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</div>